@inherits SourceComponent
@implements IMouseCallbacks
@implements IKeyCallbacks


@ChildContent

@code {

    public string Text { get; set; }
    
    [Parameter]
    public override RenderFragment ChildContent
    {
        get
        {
            return 
                @<div
                     type=@ElementType
                     style=@AllStyles
                     class=@AllClasses
                     onmousedown=@OnMouseDown
                     onkeydown=@OnKeyDown
                     tabindex=@TabIndex
                 >
                    @Text
                </div>;
        }
        set
        {
            
        }
    }

    public virtual Action<MouseEventArgs> OnMouseDown { get; set; }
    public virtual Action<MouseEventArgs> OnMouseUp { get; set; }
    public virtual Action<KeyboardEventArgs> OnKeyUp { get; set; }
    public virtual Action<KeyboardEventArgs> OnKeyDown { get; set; }

}