@inherits SourceComponent

@ChildContent

@code {

    public string Text { get; set; }
    
    [Parameter]
    public override RenderFragment ChildContent
    {
        get
        {
            return 
                @<div
                     type=@ElementType
                     style=@AllStyles
                     class=@AllClasses
                     onmousedown=@OnMouseDown
                     onkeydown=@OnKeyDown
                     tabindex=@TabIndex
                 >
                    @Text
                </div>;
        }
        set
        {
            
        }
    }

    public Action<MouseEventArgs> OnMouseDown = _ => { };
    public Action<KeyboardEventArgs> OnKeyDown = _ => { };

}