# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BlazorTutorial.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\CollabApp\BlazorTutorial\.idea\.idea.BlazorTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
